body {
  margin: 0px;
  background: #202733;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #313A48;
  box-shadow: 30px 50px 80px rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin: 0px 16px;
  margin-top: 120px;
}
h1 {
  margin-top: 40px;
  margin-bottom: 24px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #53FFAA;
  letter-spacing: 3.45714px;
}
p {
  margin-top: 0px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #CEE3E9;
  max-width: 295px;
  letter-spacing: -0.257143px;
}
img.divider {
  margin-bottom: 32px;
}
img.divider-desktop {
  display: none;
}
.btn-container {
  height: 32px;
}
button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  padding: 0px;
  background: #53FFAA;
}
footer {
  margin-top: 20%;
}

/*desktop styles*/
@media (min-width: 1400px) {
  main {
    margin: 0px 450px;
    margin-top: 223px;
  }
  h1 {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 4.08571px;
  }
  p {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.3px;
    max-width: 444px;
  }
  img.divider {
    display: none;
  }
  img.divider-desktop {
    display: block;
    margin-bottom: 40px;
  }
  button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 40px #53FFAA;
    transition: 0.5s;
  }
}